html{
    background-color: #A3DEFF;
}

#back_button{
    font-size: 150%;
    background-color: #4eff9f;
}

h1{
    font-family: Arial;
    font-size: 500%;
    color: #473eff;
    text-align: center;
}


